<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DanceUserMapper">
    
    <resultMap type="DanceUser" id="DanceUserResult">
        <result property="id"    column="id"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="img"    column="img"    />
        <result property="signature"    column="signature"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectDanceUserVo">
        select id, username, password, img, signature, create_time from user
    </sql>

    <select id="selectDanceUserList" parameterType="DanceUser" resultMap="DanceUserResult">
        <include refid="selectDanceUserVo"/>
        <where>  
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="signature != null  and signature != ''"> and signature = #{signature}</if>
        </where>
    </select>
    
    <select id="selectDanceUserById" parameterType="Long" resultMap="DanceUserResult">
        <include refid="selectDanceUserVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDanceUser" parameterType="DanceUser" useGeneratedKeys="true" keyProperty="id">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="img != null">img,</if>
            <if test="signature != null">signature,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="img != null">#{img},</if>
            <if test="signature != null">#{signature},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateDanceUser" parameterType="DanceUser">
        update user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="img != null">img = #{img},</if>
            <if test="signature != null">signature = #{signature},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDanceUserById" parameterType="Long">
        delete from user where id = #{id}
    </delete>

    <delete id="deleteDanceUserByIds" parameterType="String">
        delete from user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>